 a {
    text-decoration:none;
}
ul {
    list-style-type: none;

}
li{
    padding: 20px;
    background-color: rgb(150, 150, 150);
}
.flex{
    display: flex;
}
.space-around{
    justify-content: space-around
}
body{
    background-color: rgb(120, 120, 120);
}