.flex {
    display: flex;
    flex-wrap:wrap ;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}
